:root {
  font-size: calc(16 * 100vw / 1366);
}
body {
  background-color: #f5f8fa;
  font-family: "Poppins", sans-serif !important;
}
/* navbar */
.navbar.navbar-light {
  background-color: #fff;
}
.navbar-brand,
.uname {
  font-weight: 600;
  padding: 0.5rem;
  margin: 0;
  font-size: 1.2rem;
}
.btn-logout {
  background-color: rgba(242, 61, 61, 0.25);
  margin-left: 0.5rem;
  color: #f23d3d;
}
.btn-logout:hover {
  background-color: rgba(242, 61, 61, 0.4);
  color: #f23d3d;
}
/* menu */
.width-max {
  width: 99vw;
}
.menu-side {
  background-color: #fff;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
/* card */
.card {
  border: unset;
}
.padd {
  width: 95%;
  margin: 3rem auto;
  padding: 1rem;
  border-radius: 1.25rem;
}
.card-title {
  font-size: 1.5rem;
  font-weight: 600;
}
.couple {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
}
.btn-add {
  background: rgba(53, 84, 209, 0.25);
}
.btn-add .material-icons {
  color: #3554d1;
  line-height: unset;
}
/* icon */
.icon,
.icon:hover {
  color: black;
  text-decoration: unset;
  cursor: pointer;
}
/* modal detail */
.d-flex img {
  width: 30%;
  margin: 1rem;
}
h1.detail {
  font-size: 1rem;
}
.border-detail {
  border-radius: 1.5rem;
}
/* supplier */
.min-width-10 {
  width: 10%;
}
.min-width-15 {
  width: 15%;
}
